# Grafana nginx server configuration
upstream grafana {
  keepalive 16;
  server 127.0.0.1:3000;
}

map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
	listen 80;
	listen [::]:80;

        {% if grafana_logging %}
	access_log /var/log/nginx/grafana.access.log;
        error_log /var/log/nginx/grafana.error.log;
        {% endif %}

	root /var/www;

	index index.html;

	server_name {{ grafana_server_name }};
        client_max_body_size 100M;

	location / {
	    satisfy any;

            {% if grafana_htaccess is true %}
            {% for ip in grafana_allowed_ips %}
            allow {{ ip }};
            {% endfor %}
	    deny  all;
	    auth_basic           "Administrator’s Area";
            auth_basic_user_file /etc/nginx/conf.d/grafana.htpasswd;
            {% endif %}

            {% if grafana_ssl %}
            return 301 https://$host$request_uri;
            {% else %}
            resolver 127.0.0.11 valid=30s;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header Host $http_host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-Proto  $scheme;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_pass http://grafana;
            {% endif %}
	}
}


{% if grafana_ssl %}
server {
	listen 443 ssl;
	listen [::]:443 ssl;

        {% if grafana_logging %}
	access_log /var/log/nginx/grafana.access.log;
        error_log /var/log/nginx/grafana.error.log;
        {% endif %}

        ssl_certificate         {{ nginx_ssl_directory }}/live/{{ grafana_server_name }}/fullchain.pem;
        ssl_certificate_key     {{ nginx_ssl_directory }}/live/{{ grafana_server_name }}/privkey.pem;
        ssl_trusted_certificate {{ nginx_ssl_directory }}/live/{{ grafana_server_name }}/chain.pem;
	include conf.d/ssl_modern.include;

	root /var/www;

	index index.html;

	server_name {{ grafana_server_name }};
        client_max_body_size 100M;

	location / {
            satisfy any;
  
            {% if grafana_htaccess is true %}
            {% for ip in grafana_allowed_ips %}
            allow {{ ip }};
            {% endfor %}
            deny  all;
  
            auth_basic           "Administrator’s Area";
            auth_basic_user_file /etc/nginx/conf.d/grafana.htpasswd;
            {% endif %}
  
            ##################
            # web socket updates
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header Host $http_host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-Proto  $scheme;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
  	    proxy_pass http://grafana;
	}

        location /grafana/api/live {
            resolver 127.0.0.11 valid=30s;
            rewrite  ^/grafana/(.*)  /$1 break;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header Host $http_host;
  	    proxy_pass http://grafana;
        }

}
{% endif %}
